<section>
<header<h1>Wolfzz</h1></header>
<p><strong>Olá  {{ student }}, sejá bem vindo</strong></p>
<p>
  <strong>Dados da Matricula</strong><br />
  <strong>Plano: {{ plan }} </strong><br/>
  <strong>Preço: R$ {{ price }} </strong><br/>
  <strong>Validade até: {{ validate }} </strong>
</p>
</section>


